In [9]:
with open('./config.txt', 'r') as f:
    lines = f.readlines()
f.close()
lines

['Username: shiyanglee1998@gmail.com\n',
 '\n',
 '\n',
 'Job_search: data\n',
 'Location: United Kingdom\n',
 '\n',
 'JOB_LISTING_XPATH : //*[@id="main"]/div/section[1]/div/ul/*\n',
 'LINK_XPATH : //div[contains(@class, "jobs-unified-top-card t-14")]//a[@href]\n']

In [10]:
!pwd

/home/shiya/Documents/myblog/posts/linkedin/linkedin-scape

In [11]:
dict([[y.strip() for y in x] for x in [x.strip().split(':') for x in lines] if x != ['']])

{'Username': 'shiyanglee1998@gmail.com',
 'Job_search': 'data',
 'Location': 'United Kingdom',
 'JOB_LISTING_XPATH': '//*[@id="main"]/div/section[1]/div/ul/*',
 'LINK_XPATH': '//div[contains(@class, "jobs-unified-top-card t-14")]//a[@href]'}

In [4]:
from scraper import *

In [12]:
import subprocess

In [17]:
subprocess.run(["mkdir, 'data/'"])

FileNotFoundError: [Errno 2] No such file or directory: "mkdir, 'data/'"

In [18]:
import pandas as pd

In [19]:
test = pd.read_csv('./data/job.csv')

In [21]:
test.tail()

,Unnamed: 0,company,employee,company_type,link,id,job_desc,job_type,location,salary,title
42,42,Nicholas Howard Ltd,11-50 employees,NaN,https://www.linkedin.com/jobs/view/3487615793/...,3487615793,Nicholas Howard is delighted to be working wit...,Hybrid,"Oxford, England, United Kingdom",NaN,Graduate Statistical Programmer
43,43,Utility Warehouse,"1,001-5,000 employees",Utilities,https://www.linkedin.com/jobs/view/3469808851/...,3469808851,Company Description\n \nThis role is available...,NaN,"London, England, United Kingdom",NaN,Data Analyst (DEX - Lifecycle)
44,44,NaN,"10,001+ employees",Utilities,https://www.linkedin.com/jobs/view/3487931454/...,3487931454,"Salary:\n \nUp to Â£35,000 per annum with a tot...",On-site,"Cannock, England, United Kingdom",NaN,Data Analyst
45,45,SLS Recruitment Specialising in Further Education,1-10 employees,Staffing and Recruiting,https://www.linkedin.com/jobs/view/3487599590/...,3487599590,"Data Analyst- Â£30-33,000 + Benefits- Hybrid ro...",Hybrid,"Reading, England, United Kingdom","Â£32,000/yr - Â£33,000/yr","Data Analyst- Â£30-33,000 + Benefits- Hybrid ro..."
46,46,WSP in the UK,"5,001-10,000 employees",Professional Services,https://www.linkedin.com/jobs/view/3487165169/...,3487165169,We are WSP - Join us and make your career futu...,Hybrid,"England, United Kingdom",NaN,Project Data Analyst - Rail

In [22]:
test1 = pd.read_csv('./data/skill.csv')

In [23]:
test1

     Unnamed: 0          id                skills
0             0  3484746026     Analytical Skills
1             1  3484746026             Analytics
2             2  3484746026         Data Analysis
3             3  3484746026        Data Analytics
4             4  3484746026           Mathematics
..          ...         ...                   ...
458         458  3487165169    Microsoft Power BI
459         459  3487165169  Predictive Analytics
460         460  3487165169       Problem Solving
461         461  3487165169    Project Management
462         462  3487165169   Project Performance

[463 rows x 3 columns]

In [1]:
import selenium
from selenium import webdriver

from bs4 import BeautifulSoup as bs

from scraper import *

/home/shiya/anaconda3/envs/web-scrape/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.linkedin.com')

In [5]:
soup  = bs(driver.page_source)

In [6]:
lk = linkedin_soup(soup)

In [7]:
get_skills(driver)

['Analytical Skills',
 'Communication',
 'Data Analytics',
 'Data Visualization',
 'Business Engagement',
 'Data Cleaning',
 'Logical Approach',
 'Problem Solving',
 'SC',
 'Skilled Multi-tasker']

In [14]:
test_skill

             id                          skills
0    3455024299                 Business Growth
1    3455024299                 Data Strategies
2    3455024299              Design Development
3    3455024299                        Evidence
4    3455024299            Franchise Management
..          ...                             ...
216  3475040640             Attention to Detail
217  3475040640                   Data Modeling
218  3475040640                       Databases
219  3475040640  Extract, Transform, Load (ETL)
220  3475040640                 Problem Solving

[221 rows x 2 columns]

In [11]:
test_job

,company,employee,company_type,link,id,job_desc,job_type,location,salary,title
0,Government Statistical Service,"1,001-5,000 employees",Government Administration,https://www.linkedin.com/jobs/view/3472811784/...,3472811784,Data Science Degree Apprenticeship Level 6 - W...,Hybrid,"England, United Kingdom","Â£24,836/yr",Data Science Apprenticeship Level 6
1,House of Colour,51-200 employees,NaN,https://www.linkedin.com/jobs/view/3455024299/...,3455024299,Tech & Data Lead - House of Colour - Â£70k - Â£8...,Remote,United Kingdom,NaN,Tech & Data Lead
2,Collinson,"1,001-5,000 employees",Consumer Services,https://www.linkedin.com/jobs/view/3468317384/...,3468317384,A perfect opportunity for a management informa...,Hybrid,"Haywards Heath, England, United Kingdom",NaN,MI and Data Analyst
3,Department for Business and Trade,"1,001-5,000 employees",Government Administration,https://www.linkedin.com/jobs/view/3489698161/...,3489698161,"Location\n \nBirmingham, Nottingham\n \nAbout ...",On-site,"Birmingham, England, United Kingdom",NaN,Data Analyst
4,Experis UK,"501-1,000 employees",Staffing and Recruiting,https://www.linkedin.com/jobs/view/3487079042/...,3487079042,My client is a small start up who has just rec...,NaN,"Scotland, United Kingdom",NaN,Data Analyst
5,Intelligent People Limited,11-50 employees,Staffing and Recruiting,https://www.linkedin.com/jobs/view/3472817379/...,3472817379,We're hiring a Strategic Data Analyst / Senior...,Hybrid,"London, England, United Kingdom","Â£50,000/yr - Â£70,000/yr",Strategic Data Analyst
6,Splendid Hospitality Group,"1,001-5,000 employees",NaN,https://www.linkedin.com/jobs/view/3468305532/...,3468305532,Splendid Hospitality Group is one of the UKs f...,Hybrid,"Watford, England, United Kingdom",NaN,Assistant Data Analyst
7,Syngenta,"10,001+ employees",Farming,https://www.linkedin.com/jobs/view/3482349515/...,3482349515,Syngenta is a world-leading plant science comp...,Hybrid,"Bracknell, England, United Kingdom",NaN,Junior IT Business Analyst - Rotational Scheme
8,Heimdal Satellite Technologies,1-10 employees,NaN,https://www.linkedin.com/jobs/view/3485055768/...,3485055768,We are looking to hire a data scientist to bui...,Remote,United Kingdom,"Â£5,000/month - Â£12,000/month",Data Scientist / Satellite Data
9,IT Search and Selection,11-50 employees,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/3478130887/...,3478130887,Data Analyst\n \nrequired for a leading nation...,Hybrid,"Bristol, England, United Kingdom",NaN,Data Analyst
10,GodmodeHQ,1-10 employees,NaN,https://www.linkedin.com/jobs/view/3487446301/...,3487446301,"Engineering at GodmodeHQ\n \nIn web2, the data...",Hybrid,"London, England, United Kingdom",NaN,Data Science Engineer
11,Roleshare,1-10 employees,"Technology, Information and Internet",https://www.linkedin.com/jobs/view/3470512860/...,3470512860,"This role has been identified as ""job share fr...",On-site,"Birmingham, England, United Kingdom",NaN,"Data Analyst - Part-Time, Job-Share and Full-Time"
12,BY TERRY,51-200 employees,Personal Care Product Manufacturing,https://www.linkedin.com/jobs/view/3466871190/...,3466871190,BY TERRY is an international luxury cosmetics ...,On-site,"London, England, United Kingdom",NaN,Management Accountant
13,TransUnion,"5,001-10,000 employees",IT Services and IT Consulting,https://www.linkedin.com/jobs/view/3437168127/...,3437168127,TransUnion's Job Applicant Privacy Notice\n \n...,Hybrid,"Leeds, England, United Kingdom",NaN,Analytics & Data Science Opportunities
14,AMPYR Solar Europe,11-50 employees,NaN,https://www.linkedin.com/jobs/view/3481800255/...,3481800255,AMPYR Solar Europe (ASE) was created in 2021 t...,Hybrid,"London, England, United Kingdom",NaN,Management Accountant
15,wejo,201-500 employees,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/3475793082/...,3475793082,Data Analytics Engineer | 100% Remote\n \nOVER...,Remote,United Kingdom,NaN,Data Analytics Engineer
16,Areti Group,1-10 employees,Staffing and Recruiting,https://www.linkedin.com/jobs/view/3487569376/...,3487569376,Our client is looking to hire a\n \nData Produ...,Hybrid,"London Area, United Kingdom",NaN,ðŸŒ³ðŸŒ³ðŸŒ³ Junior Data Engineer - SAS/PythonðŸŒ³ðŸŒ³ðŸŒ³
17,Clean Air Fund,11-50 employees,NaN,https://www.linkedin.com/jobs/view/3490027929/...,3490027929,Interested in this role You can find all the r...,On-site,"London, England, United Kingdom",NaN,Senior Specialist - Data
18,Wintermute,51-200 employees,Financial Services,https://www.linkedin.com/jobs/view/3484207839/...,3484207839,About Wintermute\n \nAt Wintermute our mission...,Hybrid,"London, England, United Kingdom",NaN,Graduate Algorithmic Trader
19,InterQuest Group,201-500 employees,Staffing and Recruiting,https://www.linkedin.com/jobs/view/3474587279/...,3474587279,**Data Analyst/Senior Data Analyst x 3 - Chall...,Hybrid,"Bristol, England, United Kingdom",NaN,Data Analyst
20,Data Inc,11-50 employees,Information Technology & Services,https://www.linkedin.com/jobs/view/3482734431/...,3482734431,Demonstrated experience of writing Business Re...,Hybrid,"London, England, United Kingdom",NaN,Credit Risk Business Analyst
21,MSX International,"5,001-10,000 employees",Motor Vehicle Manufacturing,https://www.linkedin.com/jobs/view/3478602453/...,3478602453,"Data Analyst\nUp to Â£30,000 per year\n40 Hours...",Hybrid,"Warwick, England, United Kingdom","Â£30,000/yr",Data Analyst
22,Chumley,11-50 employees,NaN,https://www.linkedin.com/jobs/view/3443658156/...,3443658156,"ðŸš€ðŸš€ 'Data Analyst' ðŸš€ðŸš€\n \nÂ£50K-Â£60K - London, 2...",Hybrid,"Chessington, England, United Kingdom",NaN,Data Analyst
23,RenewableUK,11-50 employees,NaN,https://www.linkedin.com/jobs/view/3475040640/...,3475040640,"EnergyPulse Analyst\nPermanent â€“ Â£28,000 to Â£3...",Hybrid,"London, England, United Kingdom",NaN,Data Analyst

In [12]:
test_skill, test_job = scrape_page(driver=driver)

KeyboardInterrupt:

In [15]:
driver.close()

In [21]:
test = None
if ~(isinstance(test, type(None))):
    print("HIT")

HIT

In [35]:

not False

True

In [33]:
(~)

SyntaxError: invalid syntax (1558490560.py, line 1)

In [36]:
~[True]

TypeError: bad operand type for unary ~: 'list'

In [37]:
int(True)

1

In [38]:
~1

-2

In [41]:
~True

-2

In [40]:
int.__invert__.__doc__

'~self'

In [1]:

import time

from tqdm.auto import tqdm
import numpy as np
import pandas as pd
import selenium
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.common.exceptions import (NoSuchElementException,
                                        StaleElementReferenceException,
                                        TimeoutException)
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.wait import WebDriverWait

import re

/home/shiya/anaconda3/envs/web-scrape/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://www.linkedin.com')

In [4]:
driver.get('https://www.linkedin.com/jobs')

In [5]:
driver.find_element(By.XPATH, "//span/button[contains(@aria-label, 'Date posted filter')]").click()

In [8]:
driver.find_element(By.XPATH, "//li/label[contains(@for, 'r604800')]").click()

In [14]:
driver.find_element(By.XPATH, "//label[@for='timePostedRange-']").click()

In [16]:

driver.find_element(By.XPATH, "//li/label[contains(@for, 'r2592000')]").click()

In [17]:
driver.find_element(By.XPATH, "//button[contains(@aria-label, 'Apply current filter')]").click()